<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Recipes</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          crossorigin="anonymous" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            crossorigin="anonymous" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            th:src="@{/webjars/popper.js/2.0.2/umd/popper.min.js}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
</head>
<body>
<script th:inline="javascript">
    function sendDelete(url) {
        var xhttp = new XMLHttpRequest();
        xhttp.open("DELETE", url, true);
        xhttp.onload = function () {
            window.location.reload(true);
        };
        xhttp.send();
    }
</script>

<div class="card">
    <div class="card-header">
        My recipes!
    </div>
    <div class="card-body">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Description</th>
                <th scope="col">Preparation Time</th>
                <th scope="col">Cook Time</th>
                <th scope="col">Servings</th>
                <th scope="col">Source</th>
                <th scope="col">Url</th>
                <th scope="col">Directions</th>
                <th scope="col">View</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="recipe : ${recipes}">
                <td th:text="${recipe.id}"></td>
                <td th:text="${recipe.description}"></td>
                <td th:text="${recipe.prepTime}"></td>
                <td th:text="${recipe.cookTime}"></td>
                <td th:text="${recipe.servings}"></td>
                <td th:text="${recipe.source}"></td>
                <td th:text="${recipe.url}"></td>
                <td th:text="${recipe.directions}"></td>
                <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/show'}">View</a></td>
                <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/update'}">Update</a></td>
                <td><a class="delete" th:with="url = @{'/recipe/' + ${recipe.id} + '/delete'}" th:onclick="sendDelete([[${url}]])">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>